/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f9;
}

header {
  background: linear-gradient(45deg, #9cd4c5, #4caf95, #378b74);

  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
  margin-top: 5px;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.event-details {
  text-align: center;
  margin-bottom: 20px;
}

.event-details h2 {
  font-size: 2em;
  color: #333;
}

.event-details p {
  margin: 10px 0;
  font-size: 1.1em;
  color: #555;
}

.form-section {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
  font-size: 1.8em;
  color: #378b74;
  margin-bottom: 10px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}
button {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(55deg, #4caf95, #378b74);
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background: #26856c;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
